@using Packt.Shared;
@model List<Customer>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<h1>Search Results Page</h1>
<hr />
@if (Model is not null)
{
    @if(Model.Count==0)
    {
        <p>Customers was not found.</p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Company Name</th>
                    <th>Contact Name</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Customer c in Model)
                {
                    <tr>
                        <td>
                            @c.CompanyName
                        </td>
                        <td>
                            @c.ContactTitle
                        </td>
                        <td>
                            @c.Address
                            @c.City
                            @c.Region
                            @c.Country
                            @c.PostalCode
                        </td>
                        <td>
                            @c.Phone
                        </td>
                        <td>
                            <a asp-controller="Home" asp-action="DeleteCustomer" asp-route-id="@c.CustomerId" class="btn btn-danger">Delete Customer</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}